<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - My Portfolio</title>
  <link rel="stylesheet" href="/css/styles.css">
  
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>About Me</h1>
    <p>Hi, I'm Mrugank, pursuing my B.Tech in CSE from IIIT Kottayam. I have a passion for ML and Web Dev.</p>
    <p>As a former ML intern at Mentorness, I gained valuable experience building ML models.</p>
    <p>Feel free to explore my projects and get in touch if you'd like to collaborate or learn more about my work.</p>
  </main>
  
  <script src="/js/scripts.js"></script>
</body>
</html>
